<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
       <authentication mode="Forms">

         <forms name=".ASPXFORMSDEMO" loginUrl="Login.aspx" defaultUrl="Registration.aspx">
           <credentials passwordFormat="Clear">  
                    <user name="Admin" password="admin"/>  
                    <user name="Kantesh" password="sinha@123" />  
                </credentials>  
         </forms>

    </authentication>
    <authorization>
                         
      <!--<deny users="?" />
      <allow users="*" />-->
    </authorization>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>
  <appSettings>
     <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>

</configuration>
